@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-gray-600 hover:text-indigo-600 transition;
}

.mobile-link {
  @apply block px-4 py-2 text-gray-700 hover:bg-gray-100 rounded-md;
}
